GATEWAY_LOG_PATH=/app/logs/provsql_gateway_logs.jsonl

OLLAMA_HOST=http://host.docker.internal:11434

CSV_DIR=/app/tpch_no_provsql
FAISS_INDEX_FOLDER=/app/faiss_index_tpch

MAX_CONTEXT_ROWS=10
MAX_TABLES=4
INDEX_BATCH_SIZE=500
RETRIEVER_K=40

EMB_MODEL=sentence-transformers/all-mpnet-base-v2
EXPLAIN_MAX_TRIES=2

OLLAMA_MODEL_BASE=llama3:8b
OLLAMA_MODEL_FT_NL=llama3-8b-dpo2-sft1-nl
OLLAMA_MODEL_FT_SQL=llama3-8b-dpo1-sft2-sql
OLLAMA_MODEL_PLANNER_FIRST=llama3-8b-dpo1-sft2-sql
OLLAMA_MODEL_EXPLAIN=llama3:8b