faiss_index_tpch_mpnet/
faiss_index_tpch/
logs/
.venv/
nohup.out
.webui_secret_key
__pycache__/
models/ft_nl/adapter_model.safetensors
models/ft_sql/adapter_model.safetensors
evaluation/
OAR.*
faiss_mpnet_analysis/
faiss_index_tpch_*
rel-f1-csv/
faiss_index_relf1_*
evaluation_relf1/
evaluation_tpch/