fastapi
uvicorn[standard]
requests
pydantic
langchain
langchain-community
langchain-core
sentence-transformers
FlagEmbedding==1.3.2
transformers==4.44.2
faiss-cpu
sqlglot
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
accelerate
peft
